body {
  background-color: #f2f9ff;
  font-family: 'Arial', sans-serif;
  color: #000;
  margin: 0;
  padding: 0;
  text-align: center;
}

.header {
  background-color: #105289;
  color: white;
  padding: 20px 10px;
}

.header h1 {
  margin: 0;
  font-size: 24px;
}

nav {
  margin-top: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
  transition: color 0.3s;
}

nav a:hover {
  color: #A8D8FF;
}

.main {
  margin: 40px auto;
  font-size: 18px;
}

.footer {
  background-color: #105289;
  color: white;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
